@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --bg: #f3f4f6;
  --text: #1f2937;
  --primary: #facc15;
  --secondary: #1f2937;
  --accent: #a3a7c4;
  --success: #38a169;
  --warning: #dd6b20;
  --danger: #e53e3e; */
  --logo-light: url("/images/mofieldLogo.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --bg: #1f2937;
    --text: #f3f4f6;
    --primary: #facc15;
    --secondary: #1f2937;
    --accent: #6b7280;
    --success: #38a169;
    --warning: #dd6b20;
    --danger: #e53e3e; */
    --logo-dark: url("/images/mofieldLogoWhite.png");
  }
}

body {
  color: var(--text);
  background-color: var(--bg);
}

.grecaptcha-badge {
  display: none;
}

/* Light mode logo */
@media (prefers-color-scheme: light) {
  .excavatorIcon {
    fill: #000000;
  }
  .dumpTruckIcon {
    fill: #000000;
  }
}

/* Dark mode logo*/
@media (prefers-color-scheme: dark) {
  .excavatorIcon {
    fill: #dca54c;
  }
  .dumpTruckIcon {
    fill: #dca54c;
  }
}

/* React photo album style for hovering images */
.react-photo-album img {
  transition: transform 0.3s ease-in-out; /* Smooth easing in and out */
}

.react-photo-album img:hover {
  transform: scale(1.02); /* Scale the item on hover */
}
