@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f7fafc;
  --text: #2d3748;
  --primary: #3182ce;
  --secondary: #2b6cb0;
  --accent: #9f7aea;
  --success: #38a169;
  --warning: #dd6b20;
  --danger: #e53e3e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1a202c;
    --text: #e2e8f0;
    --primary: #2b6cb0;
    --secondary: #2c5282;
    --accent: #9f7aea;
    --success: #38a169;
    --warning: #dd6b20;
    --danger: #e53e3e;
  }
}

body {
}
